Binaries
DerivedDataCache
Intermediate
Saved
Plugins
Content/PostApocalypticMeleeWeapons
Content/ModernCityBundle
Content/Eden/Maps/LevelDesign
Content/Two_Handed_Sword
Content/Medieval_Bows
Content/EssentialAnimation
Content/Car
Content/FPS_Fantasy
Content/Pack_Effects_1
Content/Survivor
Content/__ExternalActors__
Content/__ExternalObjects__
.vscode
.vsconfig
*.png
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.user
*.suo
*.xcodeproj
*.xcworkspace